/* Structure, full height */
#root, .ant-layout, .ant-layout-content {
  height: 100%;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}

h1,
h2 {
  margin-top: 1.2ex;
  margin-bottom: 1ex;
}

h3,
h4 {
  margin-top: 1ex;
  margin-bottom: 0.8ex;
}

h5,
h6 {
  margin-top: 0.8ex;
  margin-bottom: 0.6ex;
}

section {
  padding-bottom: 10px;
}

p {
  margin-bottom: 0.6em;
}

.form-group {
  margin-bottom: 32px;
}
.header, .ant-layout-header {
  height: auto;
  line-height: inherit;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 6px 0 6px 40px;
}

.header {
  border: 1px solid #d9d9d9;
  background-color:  #001333;
  padding-top: 15px;
  padding-bottom: 10px;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%
}

.title h1 {
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Crimson Bold', 'Georgia', 'Times New Roman', Times, serif;
  font-size: 1.8em;
  line-height: 1.2em;
}

.title h2 {
  color: white;
  margin: 0;
  font-family: 'Crimson Bold', 'Georgia', 'Times New Roman', Times, serif;
  font-size: 1.2em;
  line-height: 1em;
}

.header img {
  float: left;
}

.title {
  float: left;
  padding-left: 10px;
}

.lead {
  font-size: 1.3em;
  color: 1px solid #d9d9d9;
}

img.bordered {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 5px;
}

.ant-row + .ant-row {
  margin-top: 12px;
}

button + button {
  margin-left: 8px;
  margin-bottom: 0px;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.custom-filter-dropdown button {
  margin-right: 8px;
}

.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}

.editable-cell-value-wrap {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-cell-value-wrap:hover {
  border-color: #40a9ff;
}

/* Ant List */
.ant-list-empty-text {
  padding: 0;
}
.ant-empty, .ant-empty-normal {
  margin: 8px 0;
  text-align: left;
}

.ant-list-vertical .ant-list-item-meta,
.ant-list-vertical .ant-list-item-content {
  margin-bottom: 0;
}

.ant-list-vertical .ant-list-item-meta-title {
  font-size: 14px;
  line-height: 16px;
}

.ant-list-item {
  padding: 6px 0;
}

/* Ant menu and login flex */
.ant-layout-sider-children {
  border-right: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border: 0;
}

.ant-menu {
  flex: 1 0 auto;
}

.login {
  flex-shrink: 0;
  line-height: 40px;
  padding: 0 16px;
  cursor: pointer;
}
