.ant-list-vertical .ant-list-item-meta,
.ant-list-vertical .ant-list-item-content {
  margin-bottom: 0;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}

h1,
h2 {
  margin-top: 1.2ex;
  margin-bottom: 1ex;
}

h3,
h4 {
  margin-top: 1ex;
  margin-bottom: 0.8ex;
}

h5,
h6 {
  margin-top: 0.8ex;
  margin-bottom: 0.6ex;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 6px 0 6px 40px;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.custom-filter-dropdown button {
  margin-right: 8px;
}

.form-group {
  margin-bottom: 32px;
}

p {
  margin-bottom: 0.6em;
}